
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --cinza : #F2F1F0;
    --azul_escuro: #163056;
    --azul_claro : #6c7c9c9e;
    --transparente:#f2f1f000;
    --font_principal : "Ubuntu", sans-serif;

}

* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    margin: 0;
    background-color:var(--cinza);
    height: 100vh; 
}

.menu{
    transition: all 0.3s ease;
}


.menu.collapsed {
    background-color: var(--azul_escuro);
    height: 100vh;
    width: 5vw;
    display: row;
    align-items: center;
    justify-content: center;
}


.menu.expanded {
    background-color: var(--azul_escuro);
    height: 100vh;
    width: 18vw;
}

.menu__icons_expanded{
    display: grid;
    grid-template-areas:
        "logo icon_menu"
        "options options";
    justify-content: space-;
    align-items: center;
    width: 100%;
    height: 30%;

}


#menu_icon{
    cursor: pointer !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__icon__container {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    padding: 5px;
    align-items:center;
}
.menu__icon__container.logo {
    grid-area: logo;
    justify-self: start; /* Alinhar à esquerda */
}

.menu__icon__container.menu {
    grid-area: icon_menu;
    justify-self: end; /* Alinhar à direita */
}

.menu__icon__container.options {
    margin-top: 70px;
    align-items: flex-start;
    margin-left: 5px;
}
.menu__icons__container__option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;

}
.menu__icon__container.options img {
    margin-bottom: 10px;
    width: 17px;
    cursor: pointer;
}

.menu__text__options{
   font-family: var(--font_principal);
   color: var(--cinza);
   font-weight: 700;
   font-size: 13px;
   text-align: center;
   padding: 2px;
   cursor: pointer;
}


#logo_icon{
    padding: 4px;;
    width:65px;
}

.hidden {
    display: none;
}

.content {
    flex-grow: 1; /* Permite que o conteúdo cresça e ocupe o espaço restante */
    padding: 20px;
    overflow-y: auto; /* Adiciona rolagem se o conteúdo for maior que a altura da tela */
}

.consulta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;

}

.consulta__titulo{
    font-family: var(--font_principal);
    font-weight: 700;
    font-style: bold;
    font-size: 35px;
    text-align: center;
    padding: 0px 0px 20px 0px;
    color: var(--azul_escuro);
}

.box{
    background-color: var(--branco) ;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 50vw;
    height: 60vh;
    text-align: center;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.consulta__box{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: var(--cinza);
    border: none;
    width: 100%;
    border-radius: 10px;
    padding:5px;


}
.consulta__box__forms{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1px;

}


.consulta__box__botao{
    width:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;

}

.consulta__box__botao:focus{
    outline: none;
    box-shadow: none;
}

.consulta__box__botao__icon img{
    display: block;
    width:100%;
    height: 100%;
    outline: none;
}


.consulta__box__input{
    width:90%;
    border: none;
    padding: 5px;
    outline: none;
    font-size: 15px;
}

input:-webkit-autofill {
    appearance: menulist-button;
    background-image: none !important;
    background-color: transparent !important;
    color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

input{
    background-color: transparent;
}

